    $green:#09A129;

    $light-green:#D4F4DD;

    $pink:#FCD3DE;

    $grey:#5E6472;

    $primary-font:'Montserrat',
    sans-serif;

    $secondary-font:'Playfair Display',
    serif;

    $decoration-font:'Pacifico',
    cursive;

    $tablet:(min-width:768px);

    $desktop:(min-width:1024px);

    $big-screens:(min-width:1400px);