* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

@import "_variables";
@import "_mixins";

.container {
    width: 90%;
    margin: 0 auto;
}

@media #{$big-screens} {
    .container {
        width: 85%
    }
}



@import "_first-header";
@import "_main-header";
@import "_about-me";
@import "_about-device";
@import "_paralax";